.nav-link{
    color: blue;
}
.carousel {
    margin-bottom: 0rem;
  }

  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  .carousel-item {
    height: 36rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 36rem;
  }
.text-center{
    padding-top: 12mm; padding-bottom: 12mm;
}
  
.sects .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .sects h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .sects .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  .heading{
      padding-bottom: 10mm;
      padding-top: 5mm;
  }